.user-profile-img {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--gray);
  margin: 6px;
}
.username {
  font-size: 2rem;
  text-transform: capitalize;
}
