@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
:root {
  --blue: #1877f2;
  --gray: #cecece;
  --darkgray: #606266;
  --mutedgray: #f2f2f2;
  --white: #fff;
  --black: #262626;
  --red: #ff0000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif !important;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.6;
  color: var(--black);
}
.navbar-collapse {
  transition: all 0.1s linear;
}
.nav__row {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  background: var(--white);
}
.text-green {
  color: var(--blue);
}
.darkgray {
  color: var(--darkgray);
}
.text-gray {
  color: var(--gray);
}
.text-light {
  color: var(--white);
}
.text-red {
  color: var(--red);
}
.text-black {
  color: var(--black);
}
.bg-green {
  background: var(--blue);
}
.bg-gray {
  background: var(--gray);
}
.bg-light {
  background: var(--white);
}
.bg-black {
  background: var(--black);
}
.name {
  color: var(--blue);
}
main {
  min-height: 80vh;
  background: var(--mutedgray);
  padding-top: 93px;
}
.box__shadow {
  box-shadow: rgba(0, 0, 0, 0.11) 0 1px;
}
.pop-btn {
  background-color: transparent;
  border-top: 1px solid #dbdbdb;
  cursor: pointer;
  line-height: 1.5;
  margin: 0 !important;
  min-height: 48px;
  padding: 4px 8px !important;
  font-weight: 100;
  font-size: 0.8rem;
}
.modal-dialog {
  max-width: 368px !important;
}
.pop-span {
  font-size: 14px;
  position: absolute;
  right: 13px;
  top: -27px;
  background: black;
  color: white;
  padding: 5px;
  border-radius: 4px;
}
.red {
  color: #ff0000;
}
.green {
  color: greenyellow;
}
